<h3>{{movie.movieRussianName}}</h3>

<p>Название сериала на русском: <b>"{{movie.movieRussianName}}"</b></p>
<p>Оригинальное название сериала: <b>("{{movie.movieOriginalName}}")</b> </p>
<p>Год выхода на экраны: <b>{{movie.movieYear}}</b> </p>
<p>Количество серий: {{movie.seriesAmount}}</p>
<p>Страна производства: <b>{{movie.countries}}</b></p>
<p>Жанр: <b>{{movie.genres}}</b></p>
<p>{{movie.description}}</p>

<table><tr><td>
<ng-container *ngFor="let seria of movie.sourceUrl; let i = index">
    <table style="width:`9%; float:left;" frame="border">
      <tr><td><a href="{{seria}}">Серия {{i+1}}</a></td></tr>
    </table>
</ng-container></td></tr></table>



<p><a routerLink="">На главную</a></p>

<hr>

<div class="form-group">
  <button (click)="onClick()">
  Обновить данные о "{{movie.movieRussianName}}"
  </button>

</div>
