<h3>Уточнение информации о фильме/сериале "{{movie.movieRussianName}}"</h3>

<div>
  <form [formGroup]="updateForm" novalidate (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Название на русском:</label>
      <input class="form-control" formControlName="movieRussianName">
    </div>

    <div class="form-group">
      <label>Название на языке оригинала:</label>
      <input class="form-control" formControlName="movieOriginalName">
    </div>

    <div class="form-group">
      <label>Год выхода на экраны:</label>
      <input class="form-control" formControlName="movieYear">
    </div>


    <div class="form-group">
      <label>Количество серий:</label>
      <input class="form-control" formControlName="seriesAmount">
    </div>

    <div class="form-group">
      <label>Страна:</label>
      <input class="form-control" formControlName="countries">
    </div>

    <div class="form-group">
      <label>Жанр:</label>
      <input class="form-control" formControlName="genres">
    </div>


    <div class="form-group">
      <label>Описание:</label>
      <input class="form-control" formControlName="description">
    </div>

    <div class="form-group">
      <label>URL картинки:</label>
      <input class="form-control" formControlName="imageUrl">
    </div>

    <div class="form-group">
      <button type="button" (click)="goBack()">Не обновлять</button>
      <button type="submit" class="btn btn-primary" [disabled]="updateForm.invalid">
        Обновить данные
      </button>
      <button type="button" (click)="deleteAll()">Полностью удалить из базы</button>
    </div>
  </form>
</div>

<a routerLink="">На главную</a>



